html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: "Roboto", "Arial", sans-serif;
}

.root {
  width: 100%;
  height: 100%;
  background-color: #d9afd9;
  background-image: linear-gradient(0deg, #d9afd9 0%, #97d9e1 100%);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #d9afd9;
  background-image: linear-gradient(0deg, #d9afd9 0%, #97d9e1 100%);
}

.search {
  width: 280px;
  margin: 0;
  padding: 15px;
  background-color: white;
  border: 0;
  border-radius: 15px;
  outline: none;
  appearance: none;
}

.weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
}

.weather__temperature {
  width: 100%;
  margin: 0;
  padding: 15px;
  font-size: 26px;
  text-align: center;
  color: lightcoral;
  text-shadow: 1px 2px gray;
  background-color: #ffffff;
  border-radius: 15px;
}

.weather__city {
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 20px;
}

.weather__description {
  margin: 0;
  margin-bottom: 20px;
  font-size: 18px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.75);
}

.weather__feels-like {
  width: 100%;
  margin: 0;
  margin-bottom: 15px;
  padding: 10px;
  font-size: 14px;
  text-align: center;
  color: lightcoral;
  text-shadow: 0 1px rgba(0, 0, 0, 0.75);
  background-color: #ffffff;
  border-radius: 10px;
}

.app {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  max-width: 100%;
  height: auto;
  padding: 20px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 20px;
  backdrop-filter: blur(20px);
}

.card__city {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 36px;
  color: #ffffff;
}

.card__icon {
  width: 75px;
  height: 75px;
  margin-bottom: 15px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  backdrop-filter: blur(10px);
}

.card__description,
.card__temperature,
.card__feels-like {
  margin: 0;
  font-size: 18px;
  color: #ffffff;
}

.card__description:not(:last-child),
.card__temperature:not(:last-child),
.card__feels-like:not(:last-child) {
  margin-bottom: 15px;
}
