.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 20px;
  backdrop-filter: blur(20px);
}

.card--active {
  background-color: rgba(55, 55, 55, 0.15);
}

.card__city {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 36px;
  color: #ffffff;
}

.card__icon {
  width: 100px;
  height: 100px;
  margin-bottom: 15px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  backdrop-filter: blur(10px);
}

.card__description,
.card__temperature,
.card__feels-like {
  margin: 0;
  font-size: 18px;
  color: #ffffff;
}

.card__description:not(:last-child),
.card__temperature:not(:last-child),
.card__feels-like:not(:last-child) {
  margin-bottom: 15px;
}
